<div class="card">
	<ol class="link-title">
		<% @links.each do |link| %>
			<div class="link row clearfix">
			  	<div class="col">
				    <h2>
				      
				      	<li><%= link_to link.title, link %><br>
				      		<small class="author">
				      			Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.email %>
				      			</small>
				      		</li>

				    </h2>
				</div>
		  	</div>
		<% end %>
	</ol>
</div>

	<br>
	<% if user_signed_in? %>
	  <%= link_to 'New Link', new_link_path, class: "btn btn-success" %>
	<% end %>  
