a {
	color: #295200;
}

.author {
	font-size: 0.6em;
}

.link {
	margin-top: 10px;
	h2 {
	font-size: 1.1em;
	}
}

h2 {
	margin-top: 10px;
}

.nav-item {
	list-style: none;
}

.card {
	margin-top: 20px;
}

.notification {
	margin-top: 10px;
}


.navbar-brand {
	color: #295200!important;
}