a {
	color: #295200;
}

.author {
	font-size: 0.65em;
}

.link {
	margin-top: 10px;
	h2 {
	font-size: 1.1em;
	}
}

h2 {
	margin-top: 10px;
}

.nav-item {
	list-style: none;
	a {
	color: #E3F2EB;
	}
	
}

.card {
	margin-top: 20px;
}

.notification {
	margin-top: 10px;
}


.navbar-brand {
	color: #88d0ae!important;
}

.navbar-expand-lg {
	background-color: #00472A;
	border: 10px;
}

body {
	background-color: #50b58a;	
}
